* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'roboto';
    src: url('../Polices/roboto/roboto-bold-webfont.eot');
    src: url('../Polices/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Polices/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../Polices/roboto/roboto-bold-webfont.woff') format('woff'),
         url('../Polices/roboto/roboto-bold-webfont.ttf') format('truetype'),
         url('../Polices/roboto/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('../Polices/roboto/roboto-medium-webfont.eot');
    src: url('../Polices/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Polices/roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../Polices/roboto/roboto-medium-webfont.woff') format('woff'),
         url('../Polices/roboto/roboto-medium-webfont.ttf') format('truetype'),
         url('../Polices/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('../Polices/roboto/roboto-regular-webfont.eot');
    src: url('../Polices/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Polices/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../Polices/roboto/roboto-regular-webfont.woff') format('woff'),
         url('../Polices/roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('../Polices/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'shrikhand';
    src: url('../Polices/shrikhand/shrikhand-regular-webfont.eot');
    src: url('../Polices/shrikhand/shrikhand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Polices/shrikhand/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../Polices/shrikhand/shrikhand-regular-webfont.woff') format('woff'),
         url('../Polices/shrikhand/shrikhand-regular-webfont.ttf') format('truetype'),
         url('../Polices/shrikhand/shrikhand-regular-webfont.svg#shrikhandregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

html {
    font-size: 62.5%;
}

@media (min-width: 426px) {
    html {
        font-size: 80%;
    }
}

@media (min-width: 769px) {
    html {
        font-size: 125%;
    }
}

@media (min-width: 1025px) {
    html {
        font-size: 190%;
    }
}

body {
    margin: 0;
    font-family: roboto, serif;
}

.page {
    padding-bottom: -30px;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: shrikhand, serif;
}

/* LOADING SPINNER */

.loading-spinner {
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 1rem solid;
    border-color: #dc6cc4 transparent #9356DC transparent;
    animation: spin 1.4s linear infinite, loader-opacity 0s 2s  forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-opacity {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.page {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #FFF;
    z-index: 1;
    width: 100%;
    height: 100%;
    animation: page 0s 2s forwards;
    opacity: 0;
}

@keyframes page {
    0% {
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}

/* COLORS */

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$btn-color: linear-gradient($secondary-color, $primary-color);

/* HOME PAGE */

/* HEADER */

header {
    position: relative;
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 3rem;
        margin: 0;
    }
    a {
        position: absolute;
        left: 1rem;
        i {
            font-size: 2rem;
        }
    }
}

/* SECTION 1 RESEARCH */

.research {
    background-color: lightgray;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    label {
        font-size: 1.5rem;
    }
    input {
        border: none;
        background-color: lightgray;
        font-size: 1.6rem;
        outline: none;
        &::placeholder {
            text-align: center;
        }
    }
}

/* SECTION 2 EXPLORE */

.explore {
    background-color: rgb(230, 230, 230);
    margin: 0;
    padding: 1rem;
    text-align: center;
    h2 {
        font-size: 2.2rem;
        font-family: roboto;
        margin-left: 2.0rem;
        margin-right: 2.0rem;
    }
    p {
        font-size: 1.6rem;
        margin-bottom: 3.0rem;
    }    
}

.btn {
    margin-bottom: 3rem;
    border-radius: 2.5rem;
    height: 4.5rem;
    padding-left: 2.0rem;
    padding-right: 2.0rem;
    font-size: 1.4rem;
    color: #FFF;
    background: $btn-color;
    border: none;
    box-shadow: 0px 1px 6px #8b8a8a;
    &:hover {
        background: linear-gradient(lighten($secondary-color,10), lighten($primary-color,10));
        box-shadow: 1px 3px 2px #8b8a8a;
    }
}

/* SECTION 3 STEPS */

.steps {
    margin-left: 2rem;
    padding-left: 1rem;
    font-size: 1.4rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
    h2 {
        font-family: roboto;
        position: relative;
        left: -1rem;
    }
    > .step {
        display: flex;
        align-items: center;
        height: 6rem;
        width: 90%;
        background-color: rgb(240, 240, 240);
        border-radius: 2rem;
        margin: 2rem 0;
        box-shadow: 0px 1px 10px grey;
        > * {
            margin-right: 2rem;
            position: relative;
            left: -1rem;
        }
        .step-number {
            width: 2.1rem;
            height: 2.1rem;
            background-color: $primary-color;
            color: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
        }
        .icon {
            color: #000;
            opacity: 0.6;
        }
    }  
}

/* SECTION 4 FOODS */

.foods {
    background-color: rgb(240, 240, 240);
    padding: 2rem;
    padding-bottom: 4rem;
    h2 {
        font-family: roboto;
    }
}

.cards {
    width: 100%;
}

.card {
    border-radius: 2rem;
    display: flex;
    box-shadow: 0px 1px 10px grey;
    margin-bottom: 1.5rem;
    background-color: #fff;
    a {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}



.card__images {
    height: 13rem;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 2rem 2rem 0 0;
    }
    .new {
        background-color: $tertiary-color;
        color: darken($color: $tertiary-color, $amount: 30);
        font-size: 1.1rem;
        font-weight: 700;
        width: 6.5rem;
        height: 2rem;
        position: absolute;
        top: 2rem;
        right: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.card__description {
    padding: 1.5rem;
    .title {
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
        > * {
            margin: 0;
        }
    }
    .place {
        font-size: 1.4rem;
        > * {
            margin: 0;
        }
    }
}

.like {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        .full-heart{
            opacity: 1;
            transform: scale(1);
        }
    }
    & .empty-heart {
        z-index: 2;
        color: #000;
        font-size: 2.2rem;
    }
    & .full-heart {
        position: absolute;
        opacity: 0;
        transform: scale(0);
        z-index: 2;
        font-size: 2.4rem;
        background-image: $btn-color;  
        background-clip: text; -webkit-background-clip: text; color: transparent;
        transition: all 300ms;
    }
}

.cards .card:nth-child(3) .new, .cards .card:nth-child(4) .new  {
    display: none;
}

/* FOOTER */

footer {
    background-color: rgb(64, 64, 64);
    color: white;
    margin: 0;
    padding: 2rem;
    h2 {
        margin-top: 0;
        font-size: 2rem;
        font-family: shrikhand;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

    li {
        margin: 0.5rem;
    }
    
    a {
        color: white;
        font-size: 1.4rem;
    }
}

.first_icon {
    margin-right: 1.5rem;
}

.second_icon {
    margin-right: 0.9rem;
}

/* PAGES */

#main-restaurant {
    background-color: #efefef;
}

/* SECTION 1 FOOD-IMAGE */

.food-img {
    height: 20rem;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

/* SECTION 2 MENU  */

h2 {
    font-family: shrikhand, serif;
    font-size: 2.5rem;
}

.menu {
    background-color: #efefef;
    border-radius: 3rem 3rem 0 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    bottom: 3rem;
    .food-name {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        > * {
            margin: 1.5rem;
        } 
    }

    h3 {
        font-size: 1.8rem;
        margin: 1.5rem;
        text-transform: uppercase;
        font-weight: 400;
        display: flex;
        height: 3.5rem;
        span {
            border-bottom: 0.3rem solid $tertiary-color;
        }
    }
}

/* ANIMATION OF CHOICES */

.choice {
    display: flex;
    background-color: #FFF;
    margin: 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    
    &:hover {
        .choice__selected {
            margin-right: 0;
        }
        .check {
            transform: translateX(2.5rem) rotate(0);
        }
    }
    &__selected {
        width: 8rem;
        display: flex;
        align-items: center;
        background-color: #99E2D0;
        margin-right: -8rem;
        transition: 1000ms ease-out;
    }
    .check {
        font-size: 1.5rem;
        color: #fff;
        transition: transform 1000ms ease-out;
        transform: translateX(0) rotate(-180deg);
        }
    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
        padding: 1rem;
        overflow: hidden;
        .description {
            max-width: 90%;
            h4 {
                font-size: 1.6rem;
                margin: 0;
            }
            p {
                margin: 0;
                width: 100%;
                font-size: 1.4rem;
            }
            > * {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .price {
            display: flex;
            align-items: flex-end;
            font-size: 1.4rem;
            font-weight: 600;
        }
    }
}

/* END ANIMATION OF CHOICE */

.btn-order {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    .btn {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.plats, .desserts {
    margin-top: 4rem;
}

/* ANIMATION OF MENU */

.entree {
    opacity: 0;
    animation: appearance 2000ms forwards;
}


.plats {
    opacity: 0;
    animation: appearance 2000ms 500ms forwards;
}

.desserts {
    opacity: 0;
    animation: appearance 2000ms 1000ms forwards;
}

@keyframes appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* END ANIMATION OF MENU */
