header {
    position: relative;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 8px darken($color: $shadow-color, $amount: 20);

    h1 {
        font-size: 3rem;
        margin: 0;
        @media (min-width: 1441px) {
            font-size: 5rem;
        }
    }
    a {
        position: absolute;
        left: 1rem;
        i {
            font-size: 2rem;
        }
    }
}
