* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-text, serif;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: $font-title, serif;
}

/* MEDIA QUERIES */

@media (min-width: 426px) {
    html {
        font-size: 80%;
    }
}

@media (min-width: 769px) {
    html {
        font-size: 90%;
    }
}

@media (min-width: 1025px) {
    html {
        font-size: 110%;
    }
}

.home-page, .page {
    margin: auto;
}

main {
    max-width: 1440px;
    margin: auto;
}