$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$btn-color: linear-gradient($secondary-color, $primary-color);

$footer-color: #404040;
$background-color: #f9f9f9;
$shadow-color: #cecece;

$font-text : roboto;
$font-title : shrikhand;


